{% extends 'main_app/main.html' %}
{% load static %}

{% block title %}Головна{% endblock %}

{% block content %}
<div class="about-container"> <!-- ЦЕЙ КЛАС МАЄ ВІДСТУП У CSS -->
    <h1 class="about-title">Ласкаво просимо до Buy & Enjoy!</h1>
    <p class="about-subtitle">Найкраща техніка за доступними цінами.</p>
    <div class="about-banner">
        <img src="{% static 'main_app/img/01.png' %}" alt="Головна Buy & Enjoy">
    </div>

    <div class="info-grid">
        <div class="info-section">
            <h3>Популярні категорії</h3>
            <ul class="features-list">
                <li>Ноутбуки</li>
                <li>Смартфони</li>
                <li>Аксесуари</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}